.unorderedList {
  margin-left: 0px;
  padding-left: 0px;
}

.unorderedListContainer {
  margin-left: 0px;
  padding-left: 0px;
  display: flex;
  width: 1000px;
  border: 2px solid grey;
  padding: 20px;
}

.logout-button {
  color: white;
  background-color: blue;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .unorderedListContainer {
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
    width: 100%;
    border: 2px solid grey;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
}

.DishItemContianer {
  border: 1px solid gray;
  height: 300px;
  width: 95%;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.veg/non-vegIcon {
  width: 20px;
  height: 20px;
}
.dishName {
  font-size: 15px;
  font-weight: bold;
}
.sarValue {
  font-size: 15px;
  font-weight: bold;
  color: grey;
}

.Ingredients {
  color: lightslategray;
  font-size: 18px;
}

.incrementdecrementButtonContainer {
  width: 100px;
  border-radius: 20px;
  background-color: green;
  height: 35px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bodyContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  list-style-type: none;
}

.midSection {
  border: 2px solid gray;
  width: 400px;
}
.minusplusIconButton {
  border: none;
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
.dishImage {
  width: 100px;
  height: 100px;
}

.navbarContainer {
  border: 1px solid grey;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.logoHeading {
  font-size: 20px;
}
.myOrderText {
  display: none;
}

.orderTextContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .myOrderText {
    font-size: 16px;
    display: flex;
  }
}

.addToItemButton {
  background-color: blue;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}
