.navbarContainer {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0px 10px 10px -15px #111;
  border: none;
}
.logoHeading {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 35px;
  color: #1f1f1f;
}
.myOrderText {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  color: #585555;
  text-decoration: none;
  display: none;
}

.orderTextContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 300px;
}

.unorderedList {
  margin-left: 0px;
  padding-left: 0px;
  display: flex;
  width: 200px;
  justify-content: space-between;

  padding: 10px;
}

.linkedItems {
  text-decoration: none;
  color: black;
}
.menuItems {
  list-style-type: none;
}

.cart-icon {
  border: none;
  background-color: transparent;
  font-size: 35px;
  color: #585555;
}

.cart-icon-button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.logout-button {
  color: white;
  background-color: blue;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .myOrderText {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    color: #585555;
    text-decoration: none;
    display: flex;
  }

  .cart-icon-button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
  }

  .cart-count-badge {
    background-color: #ff6347;
    position: absolute;
    top: 15px;
    right: 138px;
    height: 25px;
    min-width: 25px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }

  .cart-count {
    text-align: center;
    color: #ffff;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    margin: 0;
  }

  .navbarContainer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0px 10px 10px -15px #111;
    border: none;
  }
}

.addToItemButton {
  background-color: blue;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}
